<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/update/{{ todo.id }}" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="New Todo Title" value="{{ todo.title }}"><br>
            </div>
            <div class="field">
                <label>Todo Duedate</label>
                <div class="fields">
                    <div class="thirteen wide field">
                        <input type="date" name="duedate" id="duedate" value="{{ todo.duedate }}">
                    </div>
                    <div class="three wide field">
                        <button class="ui basic large button" name="delete-duedate" type="button" onclick="clearDueDate()">
                            <i class="icon trash alternate"></i>
                            Delete Due Date
                        </button>
                    </div>
                </div>
            </div>
            <div class="field">
                {% if todo.complete == False %}
                <span class="ui gray label">
                    <div class="ui checkbox">
                        <input type="checkbox" name="complete">
                        <label style="color:Black">Not Complete</label>
                    </div>
                    </span>
                {% else %}
                    <span class="ui green label">
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="checked" name="complete">
                        <label style="color:white">Completed</label>
                    </div>
                    </span>
                {% endif %}
                </div>
            <button class="ui blue button" type="submit">Update</button>
        </form>

        <hr>

        <!-- {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{todo.id }} | {{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %} -->
    </div>
</body>

</html>

<script>
    function clearDueDate() {
        document.getElementById("duedate").value = '';
    }
</script>